<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>hi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
{% include "./fragments/navbar.html" %}
<div class="mx-auto p-3" style="width: 50%">
    <h1>Welcome to the AI Chat Page</h1>
</div>

<div class="card mx-auto" style="width: 90%">
    {#  <img src="..." class="card-img-top" alt="...">#}
    <div class="card-body">
        <p class="card-text">The AI chat program is a cutting-edge conversational tool that provides users with a
            seamless and engaging experience.
            Unlike traditional chat programs, this AI chat program is designed to prioritize privacy by not remembering
            any conversations it has with users.
            By not retaining user conversations, the AI chat program ensures that all interactions remain completely
            confidential and secure. This feature allows users to freely express themselves without worrying about their
            conversations being stored or accessed later. </p>
    </div>
</div>


<div class="mt-4 mx-auto" style="width: 90%">
    <textarea class="form-control" id="chat-history" readonly rows="12"></textarea>
</div>

<div class="input-group mx-auto mt-3" style="width: 90%">
    <input type="text" class="form-control" placeholder="Type here" aria-label="Recipient's username"
           aria-describedby="button-addon2" id="user-input">
    <button class="btn btn-outline-secondary" type="button" onclick="handleUserInput()" id="button-addon2">Enter
    </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
{% load static %}
<script src="{% static 'ai_chat.js' %}"></script>
{% csrf_token %}
</body>
</html>