<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="bi bi-trophy-fill"></i>
            Oliver's website
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ai_chat">AI Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/conversational_ai_chat">Conversational AI Chat</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div>
                <button type="button" onclick="enableDarkMode()" class="btn btn-dark">Dark</button>
                <div>
                    <button type="button" onclick="enableLightMode()" class="btn btn-light">Light</button>
                </div>
            </div>
        </div>
    </div>
</nav>
